@charset "UTF-8";
/* @font-face {
  font-family: MaisonNeue;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/maisonneueweb-book-webfont.eot?) format("eot"), url(../fonts/maisonneueweb-book-webfont.woff2) format("woff2"), url(../fonts/maisonneueweb-book-webfont.woff) format("woff"), url(../fonts/maisonneueweb-book-webfont.ttf) format("truetype"), url(../fonts/maisonneueweb-book-webfont.svg#MaisonNeue) format("svg")
}

@font-face {
  font-family: MaisonNeue;
  font-style: woff woff2;
  font-weight: 700;
  src: url(../fonts/maisonneueweb-bold-webfont.eot?) format("eot"), url(../fonts/maisonneueweb-bold-webfont.woff2) format("woff2"), url(../fonts/maisonneueweb-bold-webfont.woff) format("woff"), url(../fonts/maisonneueweb-bold-webfont.ttf) format("truetype"), url(../fonts/maisonneueweb-bold-webfont.svg#MaisonNeue) format("svg")
}

@font-face {
  font-family: MaisonNeue;
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/maisonneueweb-italic-webfont.woff) format("woff"), url(../fonts/maisonneueweb-italic-webfont.woff2) format("woff2")
}

@font-face {
  font-family: MaisonNeue;
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/maisonneueweb-bold-italic-webfont.woff) format("woff"), url(../fonts/maisonneueweb-bold-italic-webfont.woff2) format("woff2")
}

@font-face {
  font-family: MaisonNeueMono;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/maisonneueweb-mono.woff) format("woff"), url(../fonts/maisonneueweb-mono.woff2) format("woff2")
}

@font-face {
  font-family: MaisonNeueMono;
  font-style: woff woff2;
  font-weight: 700;
  src: url(../fonts/maisonneueweb-mono-bold.eot?) format("eot"), url(../fonts/maisonneueweb-mono-bold.woff2) format("woff2"), url(../fonts/maisonneueweb-mono-bold.woff) format("woff"), url(../fonts/maisonneueweb-mono-bold.ttf) format("truetype"), url(../fonts/maisonneueweb-mono-bold.svg#MaisonNeueMono) format("svg")
}

@font-face {
  font-family: MaisonNeueMono;
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/maisonneueweb-monoitalic.woff) format("woff"), url(../fonts/maisonneueweb-monoitalic.woff2) format("woff2")
} */

blockquote, body, dd, dl, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, legend, ol, p, pre, ul {
  padding: 0
}

li>ol, li>ul {
  margin-bottom: 0
}

table {
  border-spacing: 0
}

fieldset {
  border: 0;
  min-width: 0
}

[hidden] {
  display: none
}

html {
  font-size: 16px;
  font-size: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #121f35;
  color: #14233c;
  font-family: MaisonNeue, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll
}

@media screen and (max-width:420px) {
  html {
    font-size: 16px;
    font-size: 1rem
  }
}

* {
  color: inherit;
  font-family: inherit;
  line-height: inherit
}

:focus {
  outline: 2px solid #00a0d6;
  outline-offset: 2px
}

::-moz-selection {
  background-color: #f4395b;
  color: #fff
}

::selection {
  background-color: #f4395b;
  color: #fff
}

body {
  height: 100%
}

html {
  box-sizing: border-box
}

*, :after, :before {
  box-sizing: inherit
}

fieldset {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 16px
}

fieldset+* {
  margin-top: 16px
}

@media screen and (max-width:420px) {
  fieldset+* {
    margin-top: 4px
  }
}

@media screen and (max-width:768px) {
  fieldset+* {
    margin-top: 8px
  }
}

fieldset legend {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 8px 16px
}

label {
  font-size: 16px;
  font-size: 1rem;
  cursor: pointer;
  display: inherit
}

label:after {
  content: "";
  display: block;
  position: static;
  clear: both
}

label+* {
  margin-top: 4px
}

label>input[type=checkbox], label>input[type=radio] {
  margin-right: 8px;
  margin-top: 4px
}

label>input[type=checkbox]:focus, label>input[type=radio]:focus {
  border-color: #00a0d6;
  box-shadow: 0 0 5px rgba(0, 160, 214, .5)
}

label>input[type=checkbox]:disabled, label>input[type=radio]:disabled {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
  filter: alpha(opacity=0.5);
  opacity: .5;
  cursor: not-allowed
}

label>input[type=checkbox] {
  vertical-align: text-top
}

label>input[type=radio] {
  vertical-align: top
}

input[type=color], input[type=datalist], input[type=date], input[type=datetime-local], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week] {
  font-size: 16px;
  font-size: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  max-width: 100%;
  outline: none;
  padding: 10px 16px;
  transition: border-color .35s ease-in-out
}

input[type=color]::placeholder, input[type=datalist]::placeholder, input[type=date]::placeholder, input[type=datetime-local]::placeholder, input[type=email]::placeholder, input[type=month]::placeholder, input[type=number]::placeholder, input[type=password]::placeholder, input[type=search]::placeholder, input[type=tel]::placeholder, input[type=text]::placeholder, input[type=time]::placeholder, input[type=url]::placeholder, input[type=week]::placeholder {
  color: #cbcbcb
}

input[type=color]:-moz-placeholder, input[type=color]::-moz-placeholder, input[type=datalist]:-moz-placeholder, input[type=datalist]::-moz-placeholder, input[type=date]:-moz-placeholder, input[type=date]::-moz-placeholder, input[type=datetime-local]:-moz-placeholder, input[type=datetime-local]::-moz-placeholder, input[type=email]:-moz-placeholder, input[type=email]::-moz-placeholder, input[type=month]:-moz-placeholder, input[type=month]::-moz-placeholder, input[type=number]:-moz-placeholder, input[type=number]::-moz-placeholder, input[type=password]:-moz-placeholder, input[type=password]::-moz-placeholder, input[type=search]:-moz-placeholder, input[type=search]::-moz-placeholder, input[type=tel]:-moz-placeholder, input[type=tel]::-moz-placeholder, input[type=text]:-moz-placeholder, input[type=text]::-moz-placeholder, input[type=time]:-moz-placeholder, input[type=time]::-moz-placeholder, input[type=url]:-moz-placeholder, input[type=url]::-moz-placeholder, input[type=week]:-moz-placeholder, input[type=week]::-moz-placeholder {
  color: #cbcbcb
}

input[type=color]:-ms-input-placeholder, input[type=datalist]:-ms-input-placeholder, input[type=date]:-ms-input-placeholder, input[type=datetime-local]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, input[type=month]:-ms-input-placeholder, input[type=number]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder, input[type=search]:-ms-input-placeholder, input[type=tel]:-ms-input-placeholder, input[type=text]:-ms-input-placeholder, input[type=time]:-ms-input-placeholder, input[type=url]:-ms-input-placeholder, input[type=week]:-ms-input-placeholder {
  color: #cbcbcb
}

input[type=color]::-webkit-input-placeholder, input[type=datalist]::-webkit-input-placeholder, input[type=date]::-webkit-input-placeholder, input[type=datetime-local]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, input[type=month]::-webkit-input-placeholder, input[type=number]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, input[type=search]::-webkit-input-placeholder, input[type=tel]::-webkit-input-placeholder, input[type=text]::-webkit-input-placeholder, input[type=time]::-webkit-input-placeholder, input[type=url]::-webkit-input-placeholder, input[type=week]::-webkit-input-placeholder {
  color: #cbcbcb
}

@media screen and (max-width:768px) {
  input[type=color], input[type=datalist], input[type=date], input[type=datetime-local], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week] {
    width: 100%
  }
}

input[type=color]:hover, input[type=datalist]:hover, input[type=date]:hover, input[type=datetime-local]:hover, input[type=email]:hover, input[type=month]:hover, input[type=number]:hover, input[type=password]:hover, input[type=search]:hover, input[type=tel]:hover, input[type=text]:hover, input[type=time]:hover, input[type=url]:hover, input[type=week]:hover {
  border-color: #333
}

input[type=color]:focus, input[type=datalist]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus {
  border-color: #00a0d6;
  box-shadow: 0 0 5px rgba(0, 160, 214, .5)
}

input[type=color]:disabled, input[type=datalist]:disabled, input[type=date]:disabled, input[type=datetime-local]:disabled, input[type=email]:disabled, input[type=month]:disabled, input[type=number]:disabled, input[type=password]:disabled, input[type=search]:disabled, input[type=tel]:disabled, input[type=text]:disabled, input[type=time]:disabled, input[type=url]:disabled, input[type=week]:disabled {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
  filter: alpha(opacity=0.5);
  opacity: .5;
  cursor: not-allowed
}

input[type=color]:disabled:hover, input[type=datalist]:disabled:hover, input[type=date]:disabled:hover, input[type=datetime-local]:disabled:hover, input[type=email]:disabled:hover, input[type=month]:disabled:hover, input[type=number]:disabled:hover, input[type=password]:disabled:hover, input[type=search]:disabled:hover, input[type=tel]:disabled:hover, input[type=text]:disabled:hover, input[type=time]:disabled:hover, input[type=url]:disabled:hover, input[type=week]:disabled:hover {
  border-color: #cbcbcb
}

input[type=color][readonly]:focus, input[type=color][readonly]:hover, input[type=datalist][readonly]:focus, input[type=datalist][readonly]:hover, input[type=date][readonly]:focus, input[type=date][readonly]:hover, input[type=datetime-local][readonly]:focus, input[type=datetime-local][readonly]:hover, input[type=email][readonly]:focus, input[type=email][readonly]:hover, input[type=month][readonly]:focus, input[type=month][readonly]:hover, input[type=number][readonly]:focus, input[type=number][readonly]:hover, input[type=password][readonly]:focus, input[type=password][readonly]:hover, input[type=search][readonly]:focus, input[type=search][readonly]:hover, input[type=tel][readonly]:focus, input[type=tel][readonly]:hover, input[type=text][readonly]:focus, input[type=text][readonly]:hover, input[type=time][readonly]:focus, input[type=time][readonly]:hover, input[type=url][readonly]:focus, input[type=url][readonly]:hover, input[type=week][readonly]:focus, input[type=week][readonly]:hover {
  border-color: #cbcbcb;
  box-shadow: none
}

input[type=color][aria-invalid=true], input[type=datalist][aria-invalid=true], input[type=date][aria-invalid=true], input[type=datetime-local][aria-invalid=true], input[type=email][aria-invalid=true], input[type=month][aria-invalid=true], input[type=number][aria-invalid=true], input[type=password][aria-invalid=true], input[type=search][aria-invalid=true], input[type=tel][aria-invalid=true], input[type=text][aria-invalid=true], input[type=time][aria-invalid=true], input[type=url][aria-invalid=true], input[type=week][aria-invalid=true] {
  border-color: #e64b5f
}

input[type=color][aria-invalid=true]+[role=alert], input[type=datalist][aria-invalid=true]+[role=alert], input[type=date][aria-invalid=true]+[role=alert], input[type=datetime-local][aria-invalid=true]+[role=alert], input[type=email][aria-invalid=true]+[role=alert], input[type=month][aria-invalid=true]+[role=alert], input[type=number][aria-invalid=true]+[role=alert], input[type=password][aria-invalid=true]+[role=alert], input[type=search][aria-invalid=true]+[role=alert], input[type=tel][aria-invalid=true]+[role=alert], input[type=text][aria-invalid=true]+[role=alert], input[type=time][aria-invalid=true]+[role=alert], input[type=url][aria-invalid=true]+[role=alert], input[type=week][aria-invalid=true]+[role=alert] {
  color: #e64b5f;
  margin-top: 8px
}

input[type=color][aria-invalid=true]+[role=alert]:after, input[type=datalist][aria-invalid=true]+[role=alert]:after, input[type=date][aria-invalid=true]+[role=alert]:after, input[type=datetime-local][aria-invalid=true]+[role=alert]:after, input[type=email][aria-invalid=true]+[role=alert]:after, input[type=month][aria-invalid=true]+[role=alert]:after, input[type=number][aria-invalid=true]+[role=alert]:after, input[type=password][aria-invalid=true]+[role=alert]:after, input[type=search][aria-invalid=true]+[role=alert]:after, input[type=tel][aria-invalid=true]+[role=alert]:after, input[type=text][aria-invalid=true]+[role=alert]:after, input[type=time][aria-invalid=true]+[role=alert]:after, input[type=url][aria-invalid=true]+[role=alert]:after, input[type=week][aria-invalid=true]+[role=alert]:after {
  content: "";
  display: block;
  position: static;
  clear: both
}

input[type=color]+[type=button], input[type=color]+[type=reset], input[type=color]+[type=submit], input[type=color]+button, input[type=datalist]+[type=button], input[type=datalist]+[type=reset], input[type=datalist]+[type=submit], input[type=datalist]+button, input[type=date]+[type=button], input[type=date]+[type=reset], input[type=date]+[type=submit], input[type=date]+button, input[type=datetime-local]+[type=button], input[type=datetime-local]+[type=reset], input[type=datetime-local]+[type=submit], input[type=datetime-local]+button, input[type=email]+[type=button], input[type=email]+[type=reset], input[type=email]+[type=submit], input[type=email]+button, input[type=month]+[type=button], input[type=month]+[type=reset], input[type=month]+[type=submit], input[type=month]+button, input[type=number]+[type=button], input[type=number]+[type=reset], input[type=number]+[type=submit], input[type=number]+button, input[type=password]+[type=button], input[type=password]+[type=reset], input[type=password]+[type=submit], input[type=password]+button, input[type=search]+[type=button], input[type=search]+[type=reset], input[type=search]+[type=submit], input[type=search]+button, input[type=tel]+[type=button], input[type=tel]+[type=reset], input[type=tel]+[type=submit], input[type=tel]+button, input[type=text]+[type=button], input[type=text]+[type=reset], input[type=text]+[type=submit], input[type=text]+button, input[type=time]+[type=button], input[type=time]+[type=reset], input[type=time]+[type=submit], input[type=time]+button, input[type=url]+[type=button], input[type=url]+[type=reset], input[type=url]+[type=submit], input[type=url]+button, input[type=week]+[type=button], input[type=week]+[type=reset], input[type=week]+[type=submit], input[type=week]+button {
  margin-top: 0
}

@media screen and (max-width:420px) {
  input[type=color]+[type=button], input[type=color]+[type=reset], input[type=color]+[type=submit], input[type=color]+button, input[type=datalist]+[type=button], input[type=datalist]+[type=reset], input[type=datalist]+[type=submit], input[type=datalist]+button, input[type=date]+[type=button], input[type=date]+[type=reset], input[type=date]+[type=submit], input[type=date]+button, input[type=datetime-local]+[type=button], input[type=datetime-local]+[type=reset], input[type=datetime-local]+[type=submit], input[type=datetime-local]+button, input[type=email]+[type=button], input[type=email]+[type=reset], input[type=email]+[type=submit], input[type=email]+button, input[type=month]+[type=button], input[type=month]+[type=reset], input[type=month]+[type=submit], input[type=month]+button, input[type=number]+[type=button], input[type=number]+[type=reset], input[type=number]+[type=submit], input[type=number]+button, input[type=password]+[type=button], input[type=password]+[type=reset], input[type=password]+[type=submit], input[type=password]+button, input[type=search]+[type=button], input[type=search]+[type=reset], input[type=search]+[type=submit], input[type=search]+button, input[type=tel]+[type=button], input[type=tel]+[type=reset], input[type=tel]+[type=submit], input[type=tel]+button, input[type=text]+[type=button], input[type=text]+[type=reset], input[type=text]+[type=submit], input[type=text]+button, input[type=time]+[type=button], input[type=time]+[type=reset], input[type=time]+[type=submit], input[type=time]+button, input[type=url]+[type=button], input[type=url]+[type=reset], input[type=url]+[type=submit], input[type=url]+button, input[type=week]+[type=button], input[type=week]+[type=reset], input[type=week]+[type=submit], input[type=week]+button {
    margin-top: 4px
  }
}

@media screen and (max-width:768px) {
  input[type=color]+[type=button], input[type=color]+[type=reset], input[type=color]+[type=submit], input[type=color]+button, input[type=datalist]+[type=button], input[type=datalist]+[type=reset], input[type=datalist]+[type=submit], input[type=datalist]+button, input[type=date]+[type=button], input[type=date]+[type=reset], input[type=date]+[type=submit], input[type=date]+button, input[type=datetime-local]+[type=button], input[type=datetime-local]+[type=reset], input[type=datetime-local]+[type=submit], input[type=datetime-local]+button, input[type=email]+[type=button], input[type=email]+[type=reset], input[type=email]+[type=submit], input[type=email]+button, input[type=month]+[type=button], input[type=month]+[type=reset], input[type=month]+[type=submit], input[type=month]+button, input[type=number]+[type=button], input[type=number]+[type=reset], input[type=number]+[type=submit], input[type=number]+button, input[type=password]+[type=button], input[type=password]+[type=reset], input[type=password]+[type=submit], input[type=password]+button, input[type=search]+[type=button], input[type=search]+[type=reset], input[type=search]+[type=submit], input[type=search]+button, input[type=tel]+[type=button], input[type=tel]+[type=reset], input[type=tel]+[type=submit], input[type=tel]+button, input[type=text]+[type=button], input[type=text]+[type=reset], input[type=text]+[type=submit], input[type=text]+button, input[type=time]+[type=button], input[type=time]+[type=reset], input[type=time]+[type=submit], input[type=time]+button, input[type=url]+[type=button], input[type=url]+[type=reset], input[type=url]+[type=submit], input[type=url]+button, input[type=week]+[type=button], input[type=week]+[type=reset], input[type=week]+[type=submit], input[type=week]+button {
    margin-top: 8px
  }
}

input[type=color] {
  background-color: #fff;
  min-height: 44px;
  min-width: 66px
}

input[type=color]::-webkit-color-swatch {
  border-radius: 5px
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-searchfield-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
  appearance: searchfield-cancel-button
}

input[type=button], input[type=reset], input[type=submit] {
  font-size: 16px;
  font-size: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #00a0d6;
  border: 1px solid #00a0d6;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-weight: 600;
  line-height: 25px;
  min-height: 43px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom
}

input[type=button]:active, input[type=button]:focus, input[type=button]:hover, input[type=reset]:active, input[type=reset]:focus, input[type=reset]:hover, input[type=submit]:active, input[type=submit]:focus, input[type=submit]:hover {
  background-color: #008dbd;
  border-color: #008dbd;
  color: #fff;
  text-decoration: none
}

input[type=button]:visited, input[type=reset]:visited, input[type=submit]:visited {
  color: #fff
}

input[type=button]:disabled, input[type=reset]:disabled, input[type=submit]:disabled {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
  filter: alpha(opacity=0.5);
  opacity: .5;
  cursor: not-allowed
}

input[type=button]:disabled:active, input[type=button]:disabled:focus, input[type=button]:disabled:hover, input[type=button]:disabled:visited, input[type=reset]:disabled:active, input[type=reset]:disabled:focus, input[type=reset]:disabled:hover, input[type=reset]:disabled:visited, input[type=submit]:disabled:active, input[type=submit]:disabled:focus, input[type=submit]:disabled:hover, input[type=submit]:disabled:visited {
  background-color: #00a0d6;
  border-color: #00a0d6
}

input[type=button]--large, input[type=reset]--large, input[type=submit]--large {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 32px;
  min-height: 64px;
  padding: 16px 32px
}

input[type=button]+[type=button], input[type=button]+[type=reset], input[type=button]+[type=submit], input[type=button]+button, input[type=reset]+[type=button], input[type=reset]+[type=reset], input[type=reset]+[type=submit], input[type=reset]+button, input[type=submit]+[type=button], input[type=submit]+[type=reset], input[type=submit]+[type=submit], input[type=submit]+button {
  margin-top: 0
}

@media screen and (max-width:420px) {
  input[type=button]+[type=button], input[type=button]+[type=reset], input[type=button]+[type=submit], input[type=button]+button, input[type=reset]+[type=button], input[type=reset]+[type=reset], input[type=reset]+[type=submit], input[type=reset]+button, input[type=submit]+[type=button], input[type=submit]+[type=reset], input[type=submit]+[type=submit], input[type=submit]+button {
    margin-top: 4px
  }
}

@media screen and (max-width:768px) {
  input[type=button]+[type=button], input[type=button]+[type=reset], input[type=button]+[type=submit], input[type=button]+button, input[type=reset]+[type=button], input[type=reset]+[type=reset], input[type=reset]+[type=submit], input[type=reset]+button, input[type=submit]+[type=button], input[type=submit]+[type=reset], input[type=submit]+[type=submit], input[type=submit]+button {
    margin-top: 8px
  }
}

textarea {
  font-size: 16px;
  font-size: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  max-width: 100%;
  outline: none;
  padding: 10px 16px;
  transition: border-color .35s ease-in-out;
  height: auto;
  min-height: 175px;
  resize: both
}

textarea::placeholder {
  color: #cbcbcb
}

textarea:-moz-placeholder, textarea::-moz-placeholder {
  color: #cbcbcb
}

textarea:-ms-input-placeholder {
  color: #cbcbcb
}

textarea::-webkit-input-placeholder {
  color: #cbcbcb
}

@media screen and (max-width:768px) {
  textarea {
    width: 100%
  }
}

textarea:hover {
  border-color: #333
}

textarea:focus {
  border-color: #00a0d6;
  box-shadow: 0 0 5px rgba(0, 160, 214, .5)
}

textarea:disabled {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
  filter: alpha(opacity=0.5);
  opacity: .5;
  cursor: not-allowed
}

textarea:disabled:hover {
  border-color: #cbcbcb
}

textarea[readonly]:focus, textarea[readonly]:hover {
  border-color: #cbcbcb;
  box-shadow: none
}

textarea[aria-invalid=true] {
  border-color: #e64b5f
}

textarea[aria-invalid=true]+[role=alert] {
  color: #e64b5f;
  margin-top: 8px
}

textarea[aria-invalid=true]+[role=alert]:after {
  content: "";
  display: block;
  position: static;
  clear: both
}

select {
  font-size: 16px;
  font-size: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  max-width: 100%;
  outline: none;
  padding: 10px 16px;
  transition: border-color .35s ease-in-out;
  background-color: #fff;
  background-image: url('data:image/svg+xml;utf8,%3Csvg width="10" height="3" viewBox="0 0 10 3" xmlns="http://www.w3.org/2000/svg"%3E%3Ctitle%3E⌄%3C/title%3E%3Cpath fill="%23CBCBCB" d="M9.234 0L4.617 3 0 0h1.788l2.83 1.814L7.445 0" fill-rule="evenodd"/%3E%3C/svg%3E');
  background-position: top 20px right 16px;
  background-repeat: no-repeat;
  background-size: 10px 3px;
  text-indent: .01px;
  text-overflow: ""
}

select::placeholder {
  color: #cbcbcb
}

select:-moz-placeholder, select::-moz-placeholder {
  color: #cbcbcb
}

select:-ms-input-placeholder {
  color: #cbcbcb
}

select::-webkit-input-placeholder {
  color: #cbcbcb
}

@media screen and (max-width:768px) {
  select {
    width: 100%
  }
}

select:hover {
  border-color: #333
}

select:focus {
  border-color: #00a0d6;
  box-shadow: 0 0 5px rgba(0, 160, 214, .5)
}

select:disabled {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
  filter: alpha(opacity=0.5);
  opacity: .5;
  cursor: not-allowed
}

select:disabled:hover {
  border-color: #cbcbcb
}

select[readonly]:focus, select[readonly]:hover {
  border-color: #cbcbcb;
  box-shadow: none
}

select[aria-invalid=true] {
  border-color: #e64b5f
}

select[aria-invalid=true]+[role=alert] {
  color: #e64b5f;
  margin-top: 8px
}

select[aria-invalid=true]+[role=alert]:after {
  content: "";
  display: block;
  position: static;
  clear: both
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000
}

select::-ms-expand {
  display: none
}

select:hover {
  background-image: url('data:image/svg+xml;utf8,%3Csvg width="10" height="3" viewBox="0 0 10 3" xmlns="http://www.w3.org/2000/svg"%3E%3Ctitle%3E⌄%3C/title%3E%3Cpath fill="%23000000" d="M9.234 0L4.617 3 0 0h1.788l2.83 1.814L7.445 0" fill-rule="evenodd"/%3E%3C/svg%3E');
  cursor: pointer
}

select[multiple], select[size] {
  background-image: none;
  height: auto
}

select[multiple]:hover, select[size]:hover {
  background-image: none
}

button {
  font-size: 16px;
  font-size: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #00a0d6;
  border: 1px solid #00a0d6;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-weight: 600;
  line-height: 25px;
  min-height: 43px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none
}

button:active, button:focus, button:hover {
  background-color: #008dbd;
  border-color: #008dbd;
  color: #fff;
  text-decoration: none
}

button:visited {
  color: #fff
}

button:disabled {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
  filter: alpha(opacity=0.5);
  opacity: .5;
  cursor: not-allowed
}

button:disabled:active, button:disabled:focus, button:disabled:hover, button:disabled:visited {
  background-color: #00a0d6;
  border-color: #00a0d6
}

button--large {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 32px;
  min-height: 64px;
  padding: 16px 32px
}

button+[type=button], button+[type=reset], button+[type=submit], button+button {
  margin-top: 0
}

@media screen and (max-width:420px) {
  button+[type=button], button+[type=reset], button+[type=submit], button+button {
    margin-top: 4px
  }
}

@media screen and (max-width:768px) {
  button+[type=button], button+[type=reset], button+[type=submit], button+button {
    margin-top: 8px
  }
}

h1 {
  font-size: 48px;
  font-size: 3rem;
  line-height: normal;
  font-family: Avenir Next, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0
}

@media screen and (max-width:768px) {
  h1 {
    font-size: 28px;
    font-size: 1.75rem
  }
}

@media screen and (max-width:420px) {
  h1 {
    font-size: 26px;
    font-size: 1.625rem
  }
}

h1+hr {
  margin-top: 8px
}

h1+h1, h1+h2, h1+h3, h1+h4, h1+h5, h1+h6 {
  margin-top: 16px
}

h1+* {
  margin-top: 24px
}

@media screen and (max-width:420px) {
  h1+* {
    margin-top: 8px
  }
}

@media screen and (max-width:768px) {
  h1+* {
    margin-top: 16px
  }
}

h2 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: normal;
  font-family: Avenir Next, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0
}

@media screen and (max-width:768px) {
  h2 {
    font-size: 24px;
    font-size: 1.5rem
  }
}

@media screen and (max-width:420px) {
  h2 {
    font-size: 22px;
    font-size: 1.375rem
  }
}

h2+hr {
  margin-top: 8px
}

h2+h1, h2+h2, h2+h3, h2+h4, h2+h5, h2+h6 {
  margin-top: 16px
}

h2+* {
  margin-top: 24px
}

@media screen and (max-width:420px) {
  h2+* {
    margin-top: 8px
  }
}

@media screen and (max-width:768px) {
  h2+* {
    margin-top: 16px
  }
}

h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: normal;
  font-family: Avenir Next, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0
}

@media screen and (max-width:768px) {
  h3 {
    font-size: 20px;
    font-size: 1.25rem
  }
}

@media screen and (max-width:420px) {
  h3 {
    font-size: 18px;
    font-size: 1.125rem
  }
}

h3+hr {
  margin-top: 8px
}

h3+h1, h3+h2, h3+h3, h3+h4, h3+h5, h3+h6 {
  margin-top: 16px
}

h3+* {
  margin-top: 24px
}

@media screen and (max-width:420px) {
  h3+* {
    margin-top: 8px
  }
}

@media screen and (max-width:768px) {
  h3+* {
    margin-top: 16px
  }
}

h4 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: normal;
  font-family: Avenir Next, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0
}

@media screen and (max-width:768px) {
  h4 {
    font-size: 18px;
    font-size: 1.125rem
  }
}

@media screen and (max-width:420px) {
  h4 {
    font-size: 16px;
    font-size: 1rem
  }
}

h4+hr {
  margin-top: 8px
}

h4+h1, h4+h2, h4+h3, h4+h4, h4+h5, h4+h6 {
  margin-top: 16px
}

h4+* {
  margin-top: 24px
}

@media screen and (max-width:420px) {
  h4+* {
    margin-top: 8px
  }
}

@media screen and (max-width:768px) {
  h4+* {
    margin-top: 16px
  }
}

h5 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: normal;
  font-family: Avenir Next, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0
}

@media screen and (max-width:768px) {
  h5 {
    font-size: 14px;
    font-size: .875rem
  }
}

@media screen and (max-width:420px) {
  h5 {
    font-size: 12px;
    font-size: .75rem
  }
}

h5+hr {
  margin-top: 8px
}

h5+h1, h5+h2, h5+h3, h5+h4, h5+h5, h5+h6 {
  margin-top: 16px
}

h5+* {
  margin-top: 24px
}

@media screen and (max-width:420px) {
  h5+* {
    margin-top: 8px
  }
}

@media screen and (max-width:768px) {
  h5+* {
    margin-top: 16px
  }
}

h6 {
  font-size: 14px;
  font-size: .875rem;
  line-height: normal;
  font-family: Avenir Next, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0
}

@media screen and (max-width:768px) {
  h6 {
    font-size: 14px;
    font-size: .875rem
  }
}

@media screen and (max-width:420px) {
  h6 {
    font-size: 12px;
    font-size: .75rem
  }
}

h6+hr {
  margin-top: 8px
}

h6+h1, h6+h2, h6+h3, h6+h4, h6+h5, h6+h6 {
  margin-top: 16px
}

h6+* {
  margin-top: 24px
}

@media screen and (max-width:420px) {
  h6+* {
    margin-top: 8px
  }
}

@media screen and (max-width:768px) {
  h6+* {
    margin-top: 16px
  }
}

hr {
  background-color: #eee;
  border: 0;
  height: 3px;
  margin-bottom: 48px
}

hr+* {
  margin-top: 64px
}

a {
  text-decoration: none;
  font-weight: 700
}

a, a:visited {
  color: #00a0d6
}

a:hover {
  color: #0ac1ff
}

a:active {
  color: #144673
}

ol, ul {
  padding-left: 16px
}

ol li+li, ol li>ol, ol li>ul, ul li+li, ul li>ol, ul li>ul {
  margin-top: 10px
}

dl dd, dl dt {
  display: inline
}

dl dt {
  font-weight: 600
}

dl dd:after {
  content: "\A";
  white-space: pre
}

img {
  display: inherit;
  max-width: 100%
}

img+* {
  margin-top: 32px
}

audio, canvas, embed, iframe, object, video {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%
}

audio:not([controls]) {
  display: none;
  height: 0
}

svg:not(:root) {
  overflow: hidden
}

figure {
  border-bottom: 1px dotted #888;
  border-top: 1px dotted #888;
  padding: 32px 0
}

figure iframe, figure img {
  display: block;
  margin: 0 auto
}

figure figcaption {
  font-style: italic;
  text-align: center
}

code, pre {
  font-family: MaisonNeueMono, Consolas, monaco, monospace;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  -moz-tab-size: 4;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-wrap: break-word
}

pre {
  font-size: 14px;
  font-size: .875rem;
  background-color: #f7f7f7;
  border: 1px solid #eee;
  border-radius: 5px;
  color: #666;
  overflow: auto;
  padding: 32px
}

@media screen and (max-width:768px) {
  pre {
    font-size: 15px;
    font-size: .9375rem
  }
}

@media screen and (max-width:420px) {
  pre {
    font-size: 14px;
    font-size: .875rem
  }
}

pre+* {
  margin-top: 32px
}

pre code {
  background-color: transparent;
  color: #14233c;
  padding: 0
}

@media screen and (min-width:768px) {
  p {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 28px
  }
}

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none
}

abbr[title]:hover {
  cursor: help
}

code {
  background-color: #eee;
  color: #e64b5f
}

code, mark {
  font-size: 14px;
  font-size: .875rem;
  border-radius: 5px;
  padding: 2px 3px
}

mark {
  background-color: #f8cb76
}

kbd {
  font-size: 14px;
  font-size: .875rem;
  background-color: #111;
  border-radius: 5px;
  color: #fff;
  padding: 2px 3px
}

small {
  font-size: 75%
}

blockquote {
  border-left: 3px solid #eee;
  padding: 32px 0 32px 32px
}

table {
  border-bottom: 1px solid #eee;
  border-collapse: collapse;
  height: auto;
  width: 100%
}

table caption {
  font-size: 14px;
  font-size: .875rem;
  display: table-caption;
  font-weight: 300;
  text-align: center
}

table td, table th {
  padding: 16px;
  text-align: left
}

table th {
  font-weight: 600
}

table thead tr {
  background-color: #f7f7f7;
  border-bottom: 1px solid #fff
}

table tbody tr {
  border-top: 1px solid #eee
}

* {
  margin: 0
}

*+*, *+fieldset, *+h1 {
  margin-top: 16px
}

*+hr {
  margin-top: 64px
}

*+dl, *+h1, *+h2, *+h3, *+h4, *+h5, *+h6, *+img, *+ol, *+pre, *+ul {
  margin-top: 32px
}

body, br, dd, dt, li, main, option, td, th {
  margin: 0
}

#root {
  width: 100%;
  height: 100%;
}

main {
  background-color: white;
  display: block;
  min-width: 100%;
  min-height: 100%;
}

.container {
  width: 768px;
  padding: 16px;
  padding-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}

h1 {
  padding-top: 2.25rem;
}

.app-title {
  color: white;
  padding: 0;
  font-size: 2.25rem;
}

.value {
  font-size: 2.25rem;
}